body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 150vh;
    overflow: hidden;
}

.dashboard-container {
    display: flex;
    height: 150vh;
}

.sidebar {
    width: 200px;
    background-color: #340d11;
    color: ivory;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.sidebar h2 {
    margin-top: 0;
    border-bottom: 2px solid ivory;
    padding-bottom: 20px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar button {
    padding: 20px;
    background-color: transparent;
    color: ivory;
    border: 1px solid ivory;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.4s;
}

.sidebar button:hover {
    background-color: rgba(255, 255, 255, 0.415);
}

.content-area {
    flex-grow: 1;
    background-color: ivory;
    padding: 40px;
    overflow-y: auto; 
}

#dynamic-content h2 {
    color: #3d3838;
}

#dynamic-content p {
    color: #010101;
    font-size: 18px;
    line-height: 1.6;
}